.main_container {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 40px;
}
.main_container button {
  width: 30px;
  height: 100%;
}
.navbar {
  background-color: #f86b6b;
}
.navbar ul {
  display: flex;
  gap: 20%;
  justify-content: center;
  padding: 20px 0px;
}
.navbar ul li {
  cursor: pointer;
  font-size: 36px;
  color: #fff;
}
